<!doctype html>
%html
  %head
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
      %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", :name => "viewport"}
      %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
      %meta{:content => "купить червей, купить червей для рыбалки, черви для рыбалки, черви оптом, кокон червя, коконы червя купить, коконы червя дендробена, червь старатель купить, червь старатель, червь дендробена купить, червь дендробена для рыбалки, черви дендробена купить, черви дендробена, дендробена купить, коконы дендробены", :name => "keywords"}
      %meta{:content => "Купить коконы и червей дендробена для рыбалки Доставка по России", :name => "title"}
      %meta{:content => "У нас Вы можете приобрести червей дендробена для рыбалки и коконы червей для разведения. Доставка червей и коконов по России.", :name => "description"}
      %meta{:content => "66b1a01e3649f98e", :name => "yandex-verification"}/
      -#%link{:href => "stylesheets/normalize.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
      -#%link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400,700", :rel => "stylesheet", :type => "text/css"}
      -#%link{:href => "stylesheets/stylesheet.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
      -#%link{:href => "stylesheets/github-light.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
      -#%link{:href => "//fonts.googleapis.com/css?family=Lato:300,400", :rel => "stylesheet", :type => "text/css"}
      %title= 'Купить коконы и червей дендробена для рыбалки | Доставка по России'
      %title Черви для рыбалки
      = stylesheet_link_tag :site
      = javascript_include_tag :all
  %body{:class => page_classes}
    = yield
