%script{:async => "", :charset => "utf-8", :src => "https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=ky0x3zEYtFjmNt7vKEL9c_DQlM_lWC9t&width=100%&height=500&lang=ru_RU&sourceType=constructor", :type => "text/javascript"}
