.l-center
  .b-page-header
    .b-page-header__link{ data: { class: 'js-' }} Цена
    .b-page-header__link{ data: { class: 'js-' }}  Разведение
    .b-page-header__link{ data: { class: 'js-' }}  Доставка
    .b-page-header__link{ data: { class: 'js-' }}  Контакты
    .b-page-header__link.js-link{ data: { class: 'js-' }}= tel_to '+7(951)872-08-00'
  .b-page-header__keep

  .b-cost
    .b-cost__title Наши цены
    .b-cost__description Здесь будет подробное описание оплат

  .b-condition
    .b-condition__title Условия разведения
    .b-condition__description Здесь будут описаны условия разведения червя
  = partial 'map'
  телефон +7(904) 212 01 44.

  -#%h2.project-tagline доставка по Воронежу
  -#%h2.project-tagline Отправка коконов по РФ
-#%section.main-content
  dsdsds
